.parametrs {
    width: 232px;
    background-color: white;
    padding: 25px  0 25px 0;
}
h2 {
    color: rgba(74, 74, 74, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin: 0 0 10px 0;
}
.parametrs__check {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: rgba(74, 74, 74, 1);
    height: 40px;
    cursor: pointer;
}
.parametrs__check:hover{
    background-color: rgba(33, 150, 243, 0.2);
}
input {    
    height: 20px;
    width: 20px;
    margin: 0 10px 0 20px;
    cursor: pointer;
}
label {
    cursor: pointer;
}