.add {
    text-align: center;
    
}

.buttomAdd {
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    height: 45px;
    border: solid 2px rgba(160, 176, 185, 1);
    cursor: pointer;
}
.buttomAdd:hover {
    background-color: rgba(33, 150, 243, 1);
    color: beige;
}
.buttomAdd:active{
    border: solid 3px gray;
}
